.form-control, .select2-selection, .mce-tinymce {
    border: 1px solid #a5a7a8 !important;
    color: #555555;
    font-weight: 500 !important;
}
.form-group label, .control-label{
    color: #555555 !important
}
.container-fluid, .app-container{
    /* background-image: linear-gradient(#D5D8DC, #FFF) !important; */
    background-color: #F4F6F9;
}

.panel-bordered{
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%) !important;
    margin-bottom: 1rem !important;
}

.modal .select2-container {
    width: 100% !important;
    /* padding: 0; */
}

.mce-edit-area{
    max-height: 350px !important;
    overflow-y: auto;
}

/* .btn-success, .modal-success{
    background-color: #5EAF4A !important;
    border-color: #3c9625 !important;
    color: white;
}

th{
    font-weight: bold !important;
    color: #fff !important;
    background-color: #5EAF4A !important;
}
td{
    color: #555555 !important
} */