    #dataStyle {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #dataStyle td, #dataStyle th {
        border: 1px solid #ddd;
        padding: 8px;
        color: black;
    }

    /* #dataStyle tr:nth-child(even){background-color: #f2f2f2;} */

    #dataStyle tr:hover {background-color: #ddd;}

    #dataStyle th {
        padding-top: 12px;
        padding-bottom: 12px;
        /* text-align: left; */
        background-color: #22a7f0;
        color: white;
    }

    



    