#titleHead{
    font-size: 18px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

#h1{
    font-size: 35px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}
#h2{
    font-size: 28px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

#h3{
    font-size: 23px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

#h4{
    font-size: 18px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}


small{font-size: 12px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

.label-form {
    font-size: 12px;
    color: rgb(12, 12, 12);
    font-weight: bold;
}

input.text, select.text, textarea.text{ 
    border-radius: 5px 5px 5px 5px;
    color: #000000;
    border-color: #ccc;
}


/* para  modales */
#title{
    font-size: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}